@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --blue: #000ff0;
    --green: #008000;
    --dark: #1b1b1b;
    --white: #fff;
}

*,
 ::after,
 ::before {
    color: #fff;
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(var(--blue), var(--dark));
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 42vw;
    height: 52vh;
    gap: 100px;
}

.test {
    width: 18vw;
    height: 20vh;
    background: radial-gradient(var(--blue), var(--white));
    border-radius: 10%;
    transition: background 12s;
}

.test:hover {
    cursor: pointer;
    background: radial-gradient(var(--white), var(--blue));
    -webkit-box-shadow: -14px 9px 13px -1px rgba(1, 1, 4, 1);
    -moz-box-shadow: -14px 9px 13px -1px rgba(1, 1, 4, 1);
    box-shadow: -14px 9px 13px -1px rgba(1, 1, 4, 1);
}

.test.one {
    animation: rotateOne 1s;
}

.test.two {
    animation: rotateTwo 1s;
}

.test.three {
    animation: rotateThree 1s;
}

.test.four {
    animation: rotateFour 1s;
}

.mainString {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    width: 100%;
    height: 100%;
}

.mainString:hover {
    color: #000;
}


/*Napisy Main*/

.mainString.one {
    animation: rotateOneString 1s;
}

.mainString.two {
    animation: rotateTwoString 1s;
}

.mainString.three {
    animation: rotateThreeString 1s;
}

.mainString.four {
    animation: rotateFourString 1s;
}


/*Zegar*/

#time {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1vw;
    top: 2vh;
    width: 20vw;
    height: 15vh;
}

#timer {
    font-size: 450%;
    animation: rotateTime 2s;
}


/*Treść Głóna*/

#contentOne {
    display: none;
    border-radius: 15%;
    width: 45vw;
    height: 55vh;
    background: radial-gradient(var(--blue), var(--white));
    backdrop-filter: blur(8px);
    position: absolute;
    animation: mainSlide 2s;
}

#contentTwo {
    display: none;
    border-radius: 15%;
    width: 45vw;
    height: 55vh;
    background: radial-gradient(var(--blue), var(--white));
    backdrop-filter: blur(8px);
    position: absolute;
    animation: mainSlide 2s;
}

#contentThree {
    display: none;
    border-radius: 15%;
    width: 45vw;
    height: 55vh;
    background: radial-gradient(var(--blue), var(--white));
    backdrop-filter: blur(8px);
    position: absolute;
    animation: mainSlide 2s;
}

#contentFour {
    display: none;
    border-radius: 15%;
    width: 45vw;
    height: 55vh;
    background: radial-gradient(var(--blue), var(--white));
    backdrop-filter: blur(8px);
    position: absolute;
    animation: mainSlide 2s;
    justify-content: center;
    align-items: center;
}


/*Ikony*/

.id {
    display: inline-block;
    width: 30%;
    height: 20vh;
    color: #000;
}

svg {
    width: 100%;
    height: 100%;
}

.git {
    position: absolute;
    bottom: 1vh;
    left: 9.6vw;
    width: 100px;
    height: 100px;
}

.dane {
    position: absolute;
    top: 6vh;
    left: 15vw;
    display: inline-block;
    width: 65%;
    height: 15vh;
}

.imgProject {
    width: 10vw;
    height: 25vh;
    position: absolute;
    top: 6vh;
    transition: width, height 0.3s;
    left: 2vw;
}

.imgProject:hover {
    width: 11vw;
    height: 26vh;
}

.imgWeb {
    width: 15vw;
    height: 25vh;
    position: absolute;
    top: 6vh;
    transition: width, height 0.3s;
    left: 14vw;
}

.imgWeb:hover {
    width: 16vw;
    height: 26vh;
}

.imgPage {
    width: 13vw;
    height: 25vh;
    position: absolute;
    top: 6vh;
    transition: width, height 0.3s;
    left: 31vw;
}

.imgPage:hover {
    width: 14vw;
    height: 26vh;
}

.normal {
    display: none;
}

.arrow {
    position: absolute;
    left: 46vw;
    top: 5vh;
    width: 150px;
    height: 150px;
    animation: mainSlide 2s;
}

.name {
    font-family: 'Press Start 2P', cursive;
    font-size: 150%;
}

.code {
    margin-left: 1vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 90%;
}

.describe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    word-wrap: break-word;
    width: 100%;
    height: 15vh;
}


/*Formularz*/

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 53vh;
    border: 4px outset rgba(28, 110, 164, 0.82);
    border-radius: 37px 0px 7px 27px;
}

.labem {
    position: absolute;
    top: 15vh;
    left: 15vw;
    font-size: 300%;
}

#email {
    background: linear-gradient( to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: none;
    width: 17vw;
    position: absolute;
    top: 22vh;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 24px;
    transition: background 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, outline 0.3s ease-out;
}

textarea {
    border: none;
    position: absolute;
    top: 33vh;
    width: 17vw;
    border-radius: 15px;
    background: linear-gradient( to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    font-size: 24px;
    color: #fff;
    overflow: hidden;
}

.labeltext {
    position: absolute;
    top: 27vh;
    left: 15vw;
    font-size: 300%;
}

.mainStr {
    position: absolute;
    top: 7vh;
    font-size: 350%;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 8vh;
    margin-top: 32px;
    padding: 16px 0;
    font-size: 200%;
    color: #fff;
    background: var(--blue);
    background: linear-gradient(to right top, var(--blue), rgba(255, 255, 255, 0.6));
    border: none;
    position: absolute;
    top: 42vh;
    cursor: pointer;
    overflow: hidden;
}

.send:focus {
    outline-color: #fff;
}

.send:after {
    width: 50px;
    height: 150%;
    position: absolute;
    left: -100px;
    top: -25px;
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.4s;
}

.send:hover:after {
    transform: translateX(500px) rotate(20deg);
}


/*Stopka*/

.footerM {
    font-size: 100%;
    animation: Copyright 3.5s;
}

footer {
    position: absolute;
    left: 40vw;
    bottom: 2vh;
    font-size: 300%;
    width: 60vw;
    height: 10vh;
}


/*Animacje*/

@keyframes rotateTime {
    from {
        transform: translateY(-130vw);
    }
}

@keyframes rotateOne {
    from {
        transform: translate(-100vw, -100vh);
    }
}

@keyframes rotateTwo {
    from {
        transform: translate(150vw, -100vh);
    }
}

@keyframes rotateThree {
    from {
        transform: translate(-100vw, 100vh);
    }
}

@keyframes rotateFour {
    from {
        transform: translate(150vw, 100vh);
    }
}

@keyframes rotateOneString {
    from {
        transform: translate(-100vw, 100vh);
    }
}

@keyframes rotateTwoString {
    from {
        transform: translate(100vw, 100vh);
    }
}

@keyframes rotateThreeString {
    from {
        transform: translate(150vw, 100vh);
    }
}

@keyframes rotateFourString {
    from {
        transform: translate(-150vw, 100vh);
    }
}

@keyframes Copyright {
    from {
        transform: translateY(100vh);
    }
}

@keyframes mainSlide {
    from {
        transform: translateY(-130vh);
    }
}


/*Media Querys*/

@media screen and (max-width: 425px) {
    #time {
        right: 35vw;
    }
    .test {
        width: 65vw;
    }
    .main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 55vw;
    }
    footer {
        position: absolute;
        left: 30vw;
        bottom: -70vh;
        font-size: 300%;
        width: 60vw;
        height: 10vh;
    }
}

@media screen and (max-width: 375px) {
    #time {
        right: 35vw;
    }
    .test {
        width: 65vw;
    }
    .main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 55vw;
    }
    footer {
        position: absolute;
        left: 30vw;
        bottom: -70vh;
        font-size: 300%;
        width: 60vw;
        height: 10vh;
    }
}